In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the Excel file into a variable
transactions = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=1))
new_customers_list = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=2))
customer_demographic = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=3))
customer_address = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=4))

<ipython-input-2-6e689c35e69d>:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  new_customers_list = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=2))
<ipython-input-2-6e689c35e69d>:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demographic = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=3))

In [3]:
#customer_demographic['job_industry_category'] = pd.Categorical(customer_demographic['job_industry_category']).codes

In [4]:
#customer_demographic['job_industry_category'].corr(customer_demographic['past_3_years_bike_related_purchases'])

In [5]:
#customer_demographic.head(10)

wealth_segment - dummies
gender - standardize and dummy
past_3_years_bike_related_purchases - y
DOB to age -
owns_car - dummy
tenure -

In [6]:
data_customer_demographic = pd.DataFrame(data =customer_demographic, 
                                         columns=['wealth_segment', 'past_3_years_bike_related_purchases', 'owns_car', 'tenure',
                                                 'DOB', 'gender'])

In [7]:
data_customer_demographic.head(5)
#data_customer_demographic['owns_car'].get_dummies()

,wealth_segment,past_3_years_bike_related_purchases,owns_car,tenure,DOB,gender
0,Mass Customer,93,Yes,11.0,1953-10-12,F
1,Mass Customer,81,Yes,16.0,1980-12-16,Male
2,Mass Customer,61,Yes,15.0,1954-01-20,Male
3,Mass Customer,33,No,7.0,1961-10-03,Male
4,Affluent Customer,56,Yes,8.0,1977-05-13,Female

In [8]:
from datetime import datetime, timedelta

data_customer_demographic ['age'] = (datetime.now() - data_customer_demographic ['DOB']).apply(lambda x: x.days/365.25)

data_customer_demographic['gender'] = data_customer_demographic['gender'].apply(lambda x:x[0].upper())

data_customer_demographic = data_customer_demographic.drop(columns=['DOB'], axis=1)

In [9]:
data_customer_demographic = pd.get_dummies(data=data_customer_demographic, columns=['wealth_segment', 'owns_car', 'gender'], 
                                           drop_first=True)

In [10]:
data_customer_demographic.head(5)

,past_3_years_bike_related_purchases,tenure,age,wealth_segment_High Net Worth,wealth_segment_Mass Customer,owns_car_Yes,gender_M,gender_U
0,93,11.0,69.330595,0,1,1,0,0
1,81,16.0,42.151951,0,1,1,1,0
2,61,15.0,69.056810,0,1,1,1,0
3,33,7.0,61.355236,0,1,0,1,0
4,56,8.0,45.746749,0,0,1,0,0

In [15]:
data_customer_demographic= data_customer_demographic.dropna()
data_customer_demographic.describe()

,past_3_years_bike_related_purchases,tenure,age,wealth_segment_High Net Worth,wealth_segment_Mass Customer,owns_car_Yes,gender_M,gender_U
count,3913.000000,3913.000000,3913.000000,3913.000000,3913.000000,3913.000000,3913.000000,3913.000000
mean,49.041912,10.657041,45.579746,0.254536,0.499361,0.504472,0.478661,0.000256
std,28.764990,5.660146,12.795378,0.435656,0.500063,0.500044,0.499608,0.015986
min,0.000000,1.000000,20.919918,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,6.000000,35.950719,0.000000,0.000000,0.000000,0.000000,0.000000
50%,48.000000,11.000000,45.555099,0.000000,0.000000,1.000000,0.000000,0.000000
75%,73.000000,15.000000,55.052704,1.000000,1.000000,1.000000,1.000000,0.000000
max,99.000000,22.000000,179.137577,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)
lr.fit(X_train,y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
predictions = pd.DataFrame(lr.predict(X_test))
from sklearn.metrics import classification_report, confusion_matrix

In [22]:
classification_report(y_test, predictions)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n           0       0.00      0.00      0.00         9\n           1       0.00      0.00      0.00        12\n           2       0.00      0.00      0.00        12\n           3       0.00      0.00      0.00        13\n           4       0.00      0.00      0.00        11\n           5       0.00      0.00      0.00         6\n           6       0.00      0.00      0.00         8\n           7       0.00      0.00      0.00        11\n           8       0.00      0.00      0.00         8\n           9       0.01      0.20      0.02         5\n          10       0.00      0.00      0.00         9\n          11       0.00      0.00      0.00         9\n          12       0.00      0.00      0.00        10\n          13       0.00      0.00      0.00         9\n          14       0.00      0.00      0.00         9\n          15       0.00      0.00      0.00        14\n          16       0.02      0.09      0.03        11\n          17       0.00      0.00      0.00         9\n          18       0.00      0.00      0.00        13\n          19       0.00      0.00      0.00        19\n          20       0.03      0.07      0.04        14\n          21       0.00      0.00      0.00         8\n          22       0.00      0.00      0.00         9\n          23       0.00      0.00      0.00        15\n          24       0.00      0.00      0.00        10\n          25       0.03      0.11      0.05         9\n          26       0.00      0.00      0.00        10\n          27       0.00      0.00      0.00        14\n          28       0.00      0.00      0.00         9\n          29       0.00      0.00      0.00         6\n          30       0.00      0.00      0.00        13\n          31       0.00      0.00      0.00         8\n          32       0.00      0.00      0.00         9\n          33       0.02      0.30      0.04        10\n          34       0.00      0.00      0.00        11\n          35       0.00      0.00      0.00         6\n          36       0.00      0.00      0.00        13\n          37       0.00      0.00      0.00         9\n          38       0.00      0.00      0.00        16\n          39       0.00      0.00      0.00         8\n          40       0.00      0.00      0.00         8\n          41       0.00      0.00      0.00        10\n          42       0.00      0.00      0.00         4\n          43       0.00      0.00      0.00        10\n          44       0.00      0.00      0.00        14\n          45       0.00      0.00      0.00         7\n          46       0.00      0.00      0.00        12\n          47       0.00      0.00      0.00        12\n          48       0.00      0.00      0.00         8\n          49       0.00      0.00      0.00         8\n          50       0.00      0.00      0.00         8\n          51       0.00      0.00      0.00        15\n          52       0.00      0.00      0.00         9\n          53       0.03      0.22      0.05         9\n          54       0.00      0.00      0.00        12\n          55       0.00      0.00      0.00         6\n          56       0.00      0.00      0.00        13\n          57       0.00      0.00      0.00         8\n          58       0.00      0.00      0.00        12\n          59       0.02      0.14      0.04         7\n          60       0.00      0.00      0.00         9\n          61       0.00      0.00      0.00         6\n          62       0.00      0.00      0.00         9\n          63       0.00      0.00      0.00        14\n          64       0.03      0.40      0.05         5\n          65       0.00      0.00      0.00        13\n          66       0.00      0.00      0.00         5\n          67       0.01      0.12      0.02         8\n          68       0.00      0.00      0.00         9\n          69       0.00      0.00      0.00         1\n          70       0.00      0.00      0.00         9\n          71       0.00      0.00      0.00        16\n          72       0.00      0.00      0.00        12\n          73       0.00      0.00      0.00        11\n          74       0.00      0.00      0.00         8\n          75       0.00      0.00      0.00         6\n          76       0.00      0.00      0.00        11\n          77       0.00      0.00      0.00        12\n          78       0.00      0.00      0.00         4\n          79       0.00      0.00      0.00        13\n          80       0.00      0.00      0.00        10\n          81       0.00      0.00      0.00         8\n          82       0.00      0.00      0.00        13\n          83       0.00      0.00      0.00        11\n          84       0.00      0.00      0.00        11\n          85       0.00      0.00      0.00        10\n          86       0.00      0.00      0.00         5\n          87       0.00      0.00      0.00         7\n          88       0.00      0.00      0.00         7\n          89       0.00      0.00      0.00        11\n          90       0.00      0.00      0.00         4\n          91       0.00      0.00      0.00         9\n          92       0.00      0.00      0.00         8\n          93       0.00      0.00      0.00        10\n          94       0.00      0.00      0.00         8\n          95       0.00      0.00      0.00         8\n          96       0.00      0.00      0.00        12\n          97       0.00      0.00      0.00        11\n          98       0.00      0.00      0.00        14\n          99       0.00      0.00      0.00        15\n\n    accuracy                           0.01       979\n   macro avg       0.00      0.02      0.00       979\nweighted avg       0.00      0.01      0.00       979\n'

In [23]:
confusion_matrix(y_test, predictions)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)